@font-face {
  font-family: 'URWGothicLRegular';
  src: url("../fonts/urwgothicl-book-webfont.eot");
  src: url("../fonts/urwgothicl-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/urwgothicl-book-webfont.woff") format("woff"), url("../fonts/urwgothicl-book-webfont.ttf") format("truetype"), url("../fonts/urwgothicl-book-webfont.svg#URWGothicLRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
.tryphon-player {
  height: 100px;
  max-width: 650px;
  margin: 20px auto;
  border-radius: 7px;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.5) inset;
  position: relative;
  background: #333;
  color: #fff;
  font: 12px/1.4 URWGothicLRegular,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif; }
  .tryphon-player html, .tryphon-player body, .tryphon-player div, .tryphon-player span, .tryphon-player applet, .tryphon-player object, .tryphon-player iframe,
  .tryphon-player h1, .tryphon-player h2, .tryphon-player h3, .tryphon-player h4, .tryphon-player h5, .tryphon-player h6, .tryphon-player p, .tryphon-player blockquote, .tryphon-player pre,
  .tryphon-player a, .tryphon-player abbr, .tryphon-player acronym, .tryphon-player address, .tryphon-player big, .tryphon-player cite, .tryphon-player code,
  .tryphon-player del, .tryphon-player dfn, .tryphon-player em, .tryphon-player font, .tryphon-player img, .tryphon-player ins, .tryphon-player kbd, .tryphon-player q, .tryphon-player s, .tryphon-player samp,
  .tryphon-player small, .tryphon-player strike, .tryphon-player strong, .tryphon-player sub, .tryphon-player sup, .tryphon-player tt, .tryphon-player var,
  .tryphon-player b, .tryphon-player u, .tryphon-player i, .tryphon-player center,
  .tryphon-player dl, .tryphon-player dt, .tryphon-player dd, .tryphon-player ol, .tryphon-player ul, .tryphon-player li,
  .tryphon-player fieldset, .tryphon-player form, .tryphon-player label, .tryphon-player legend,
  .tryphon-player table, .tryphon-player caption, .tryphon-player tbody, .tryphon-player tfoot, .tryphon-player thead, .tryphon-player tr, .tryphon-player th, .tryphon-player td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    font-size: 100%;
    color: #000; }
  .tryphon-player a, .tryphon-player a:hover, .tryphon-player a:visited {
    color: #000;
    text-decoration: none; }
  .tryphon-player.audiobank .content {
    background: url("audiobank.png") no-repeat 5% 50%; }
  .tryphon-player.stream .content {
    background: url("stream.png") no-repeat 5% 50%; }
  .tryphon-player.stream .content .peak .level {
    background-color: #ae0000; }
  .tryphon-player .content {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px; }
    .tryphon-player .content a {
      background: url("play.png") no-repeat center left;
      display: inline-block;
      position: absolute;
      top: 15px;
      left: 180px;
      bottom: 30px;
      padding-left: 60px;
      text-decoration: none;
      outline: 0; }
      .tryphon-player .content a.play {
        background-image: url("play.png"); }
      .tryphon-player .content a.pause {
        background-image: url("pause.png"); }
      .tryphon-player .content a.stop {
        background-image: url("stop.png"); }
      .tryphon-player .content a .author {
        display: block;
        color: #aaa;
        margin-bottom: 1px;
        font-weight: 100;
        margin-top: 5px;
        font-size: 14px; }
      .tryphon-player .content a .title {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #fff; }
    .tryphon-player .content .duration {
      position: absolute;
      right: 5px;
      bottom: 6px;
      color: #fff;
      height: 15px;
      width: 40px;
      text-align: center; }
    .tryphon-player .content .bar {
      position: absolute;
      left: 180px;
      right: 55px;
      bottom: 5px;
      height: 8px;
      background-color: #aaa;
      display: inline-block;
      border-radius: 3px; }
      .tryphon-player .content .bar .progress {
        background-color: #72da00;
        display: inline-block;
        width: 0;
        height: 100%; }
    .tryphon-player .content .peak {
      position: absolute;
      bottom: 18px;
      height: 3px;
      width: 202px;
      display: inline-block;
      border-radius: 3px; }
      .tryphon-player .content .peak.left {
        left: 180px;
        text-align: right; }
      .tryphon-player .content .peak.right {
        right: 55px; }
      .tryphon-player .content .peak .level {
        background-color: #86bde8;
        display: inline-block;
        width: 0;
        height: 100%; }
